@import '../../assets/scss/variable.scss';

.login-section {
    height: 100vh;
    width: 100%;
    padding-top: 200px;
    font-family: $main-font;

    .login-box {
        width: 30%;
        height: fit-content;
        min-width: 350px;
        margin: 0 auto;
        background-color: white;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        border-radius: 1rem;

        h2 {
            padding-top: 2rem;
            text-align: center;
        }

        .form-login {
            display: flex;
            flex-direction: column;
            gap: 1.7rem;
            width: 60%;
            margin: 0 auto;
            padding-bottom: 4rem;
            margin-top: 2rem;

            input {
                height: 2rem;
                border-radius: 5px;
                border: 2px solid #958a8a;
                padding-left: .7rem;
                font-family: $main-font;

            }

            button {
                background-color: #333;
                border: none;
                min-height: 2.5rem;
                color: #fff;
                font-weight: bold;
                border-radius: 5px;
                font-size: 1rem;
                cursor: pointer;
                font-family: $main-font;
            }
        }
    }
}