//pallet colors
$main-color: #072D44;
$secondary-color: #064469;
$middle-color: #5790AB;
$light-color: #9CCDDB;
$prime-white: #D0D7E1;

$darker-secondary-color: #032c43;

$card-color: #E7E7FF;
//font 
$main-font: 'Montserrat', sans-serif;