@import '../../assets/scss/variable.scss';


.main-page-container {
    height: fit-content;
    width: 99vw;

    .home-session {
        padding-top: 100px;
        width: 99vw;
        height: 80vh;

        .main-picture {
            box-sizing: border-box;
            text-align: center;
            margin: 0 auto;
            height: 50vh;
        }

        .custom-button {
            margin-top: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.2s ease;

            .button-started {
                background-color: $secondary-color;
                border-radius: 50px;
                font-family: $main-font;
                height: 3.75rem;
                width: 12rem;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }


        }

        .custom-button:hover {
            transform: translate(0, -5px);
            transition: 0.5s ease;
        }

        .box-info {
            width: 50rem;
            padding-top: 29px;
            margin: 48px auto 0 auto;
            text-align: center;
            font-weight: 300;
            font-size: 24px;
            line-height: 29.26px;
            color: $middle-color;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-top: 1px solid $middle-color;
        }
    }

    .about-session {
        width: 99vw;
        height: max-content;
        padding-top: 5rem;

        .introduction-text {
            font-size: 2rem;
            font-weight: 500;
            color: $main-color;
            text-align: center;
        }

        .about-info {
            box-sizing: border-box;
            width: 80%;
            margin: 0 auto;
            display: grid;
            justify-items: stretch;
            grid-template-columns: 1fr 1fr;
            margin-top: 4rem;

            .about-line-one-left {
                margin: 0 auto;
            }

            .about-line-one-right {
                width: 80%;
                margin: 0 auto;
                font-weight: 300;
                font-size: 20px;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }

            .about-line-two-left {
                width: 80%;
                margin: auto auto;
                font-weight: 300;
                font-size: 20px;
                text-align: right;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }

            .about-line-two-right {
                margin: 0 auto;
            }


        }

        .under {
            display: grid;
            grid-template-columns: auto;

            .picture-under {
                margin: 0 auto;
            }
        }
    }

    .service-session {
        margin-top: 10rem;

        .service-introduce {
            font-size: 2rem;
            font-weight: 500;
            color: $main-color;
            text-align: center;
        }

        .loop-card-info {
            display: grid;
            justify-items: stretch;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            width: 90%;
            margin: 0 auto;
            gap: 1.5rem;
            padding-top: 5rem;

            .card-box {
                display: flex;
                flex-direction: column;
                text-align: center;

                .card-box-content {
                    height: 21vh;

                    .text-box-content {
                        font-weight: 400;
                        font-size: 32px;
                        line-height: 39px;
                        padding-top: 1.5rem;

                    }

                }

                .content-box-content {
                    width: 100%;
                    padding: 1.5rem 0 1.5rem 0;

                    .content-box-content-text {
                        width: 90%;
                        margin: 0 auto;
                        font-weight: 300;
                        font-size: 24px;
                        word-wrap: break-word;
                        padding: 10px 10px;
                    }

                }

                .taskbar {
                    width: 100%;
                    height: 20px;
                    font-size: 13px;
                    color: white;
                    font-weight: 700;
                    background-color: $main-color;
                    border-radius: 10px;

                    .text {
                        height: 20px;
                        opacity: 0;
                        transition: 0.5s;

                    }
                }

                .taskbar:hover {
                    cursor: pointer;

                    .text {
                        opacity: 1;
                        transition: 0.5s;
                    }
                }
            }
        }

        .carousel-container {
            padding-top: 10rem;
            width: 50vw;
            color: $main-color;
            margin: 0 auto;

            h1 {
                text-align: center;
                font-size: 2rem;
                font-weight: 500;
            }

            .carousel-element {
                width: 100%;
                height: 25rem;
                text-align: center;
                cursor: grab;

                h3 {
                    font-size: 2rem;
                    font-weight: 500;
                }

                span {
                    line-height: 34px;
                    font-size: 28px;
                    font-weight: 300;

                }
            }
        }

    }

    .solution-container {
        margin-top: 10rem;
        position: relative;

        .solution-introduce {
            font-size: 2rem;
            font-weight: 500;
            color: $main-color;
            text-align: center;
            padding-bottom: 3rem;

        }

        .show-card-container {
            width: 80%;
            margin: 0 auto;
            display: grid;
            justify-items: stretch;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2rem;

            .show-card-element {
                height: 35rem;
                width: 80%;
                margin: 20px auto;
                background-color: $card-color;
                border-radius: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;

                .title {
                    text-align: center;
                    font-size: 2rem;
                    font-weight: 300;
                }
            }

        }

        .modal-show-card {
            border-radius: 2rem;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: 80%;
            margin: 0 auto;
            margin-top: 3rem;
            height: 38rem;
            background-color: $card-color;

            .modal-image {
                width: 100%;
                height: 2rem;
            }

            .modal-close-button {
                position: absolute;
                top: 1rem;
                right: 1rem;
                font-size: 2rem;
                font-weight: 500;
                border: none;
                width: 2.5rem;
                border-radius: 50%;
            }
        }
    }

    .brand-container {
        margin-top: 10rem;
        height: 45rem;

        .brand-introduce {
            font-size: 2rem;
            font-weight: 500;
            color: $main-color;
            text-align: center;
        }

        .brand-second-container {
            padding-top: 4rem;
            width: 60%;
            margin: 0 auto;
            height: 20rem;

            .line {
                height: 7rem;
                display: flex;
                margin-top: 2rem;

                .circle-container {

                    border-radius: 50%;
                    overflow: hidden;
                    margin: 0 auto;

                    img {
                        width: 150px;
                        height: 100px;
                        overflow: hidden;
                        background-position: center;
                        background-size: cover;
                    }
                }
            }
        }
    }

    .blog-container {
        margin-top: 10rem;

        .blog-introduce {
            font-size: 2rem;
            font-weight: 500;
            color: $main-color;
            text-align: center;
            padding-bottom: 4rem;
        }

        .blog-map-child {

            .post {
                // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
                border-radius: 1rem;
                background-color: $card-color;
                width: 60%;
                margin: 0 auto;
                display: flex;
                gap: 2rem;
                margin-bottom: 2rem;
                max-height: 220px;
                min-height: 170px;
                text-decoration: none;
                color: inherit;

                .empty-blog {
                    width: 100%;
                    padding-top: 20px;
                    text-align: center;
                }

                img {
                    width: 40%;
                    border-radius: 1rem;
                }

                .post-content {
                    width: 100%;
                    padding-left: 2rem;
                    height: 18rem;

                    .post-title {
                        padding-top: 1rem;
                        margin-top: 0;
                        font-size: 1.5rem;
                    }

                    .info {
                        margin: 6px 0;
                        color: #BEB8C4;
                        font-size: 1rem;
                        font-weight: light;

                        .author {
                            padding-right: 10px;
                        }
                    }

                    h2 {
                        font-size: 1rem;
                        margin: 0;

                    }


                    .summary {

                        p {

                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            font-size: 1rem;
                            overflow: hidden;

                        }
                    }

                }
            }
        }

        .readmore-button {
            text-align: center;

            .button {
                width: 10rem;
                border-radius: 2px;
                border: none;
                padding: 10px 15px;
                background-color: $secondary-color;
                color: white;
                font-weight: 600;
                transition: 0.4s;
            }

            .button:hover {
                cursor: pointer;
                transform: translateY(-5px);
                background-color: $darker-secondary-color;

            }
        }
    }

}