@import '../../assets/scss/variable.scss';

.blog-page-container {
    font-family: $main-font;
    width: 95%;
    margin: 0 auto;
    padding-top: 140px;

    .introduce-blog {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 20px;

        img {
            width: 17rem;
        }

        h1 {
            text-align: center;
            font-weight: 300;
            font-size: 60px;
        }
    }

    .postlist-wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3rem;

        .postitem-wrap {
            text-decoration: none;
            color: black;
            display: flex;
            flex-direction: column;
            min-width: 400px;

            .postitem-cover {
                width: 100%;
                height: 300px;
                object-fit: cover;
            }

            .postitem-content {
                h2 {
                    margin: 0.5rem 0 1rem 0;
                    flex: 1;
                }

                .postitem-summary {
                    position: relative;
                    max-height: 50px;
                    overflow: hidden;
                    padding-right: 0.6rem;
                }

                .postitem-author {
                    display: flex;
                    align-items: center;
                    margin-top: 1rem;
                    justify-content: space-between;
                }
            }
        }
    }
}

@media (max-width: 1230px) {
    .blog-page-container {

        .postlist-wrap {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 768px) {
    .blog-page-container {

        .postlist-wrap {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}