.contact-page {
  // width: 99vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-image {
  margin-top: 150px;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 30px;
}


.contact-container {
  width: 100%;
  max-width: 1000px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 20px;
  // border: 1px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  border-radius: 30px;
  background-color: rgba(219, 222, 227, 0.5);
  display: grid;
  gap: 10px;
  overflow: auto;
}

.contact-container form {
  width: 800px;
  display: grid;
  gap: 10px;

}

.form-group {
  grid-column: span 1;

  .first-name {
    width: 100%;
  }
}

.name-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}

.name-group .form-group {
  grid-column: span 1;
}


.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  padding-left: 1.3rem;
  border-radius: 50px;
  resize: none;
  font-size: 1.3rem;
}

.textarea {
  height: 150px;
  overflow-y: auto;
}



.contact-container button {
  height: 64px;
  justify-items: center;
  display: block;
  width: 30%;
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: #5790AB;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto;
}

.contact-container button:hover {
  background-color: #5790AB;
}