@import '../../assets/scss/variable.scss';

.header-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    font-family: $main-font;

    .header-navbar {

        background-color: transparent;
        transition: background-color 0.3s ease;
        display: grid;
        justify-items: stretch;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        .ul-navbar-left {
            font-family: $main-font;
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            padding-top: 20px;
            padding-bottom: 20px;
            font-weight: 400;
            font-size: 24px;
            justify-content: center;

            .li-navbar-left {
                margin: 0 10px;
                // padding-top: 3px;

                a {
                    color: $secondary-color;
                    text-decoration: none;
                    transition: color 0.3s ease;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                }
            }
        }

        .ul-navbar {
            font-family: $main-font;
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            display: flex;
            padding-top: 20px;
            padding-bottom: 20px;
            font-weight: 400;
            font-size: 24px;
            // align-items: center;
            justify-content: center;

            .li-navbar {
                margin: 0 10px;
                // padding-top: 3px;

                a {
                    color: $secondary-color;
                    text-decoration: none;

                    transition: color 0.3s ease;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                }


            }

        }

    }

    .border-active {
        border-bottom: 3px solid $secondary-color ;
    }

    .header-navbar.scrolled a {
        color: #000;
    }

    .header-navbar.scrolled {
        background-color: #ffff;
        opacity: 1;
    }

    .progress-bar {
        font-family: $main-font;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 5px;
        background: $secondary-color;
        transform-origin: 0%;
    }

    @media (max-width: 768px) {
        .header-navbar {
            grid-template-columns: 1fr;
            row-gap: 15px;
            padding-top: 30px;
            padding-bottom: 15px;

            .ul-navbar {
                justify-content: center;
                font-size: 18px;
            }
        }
    }
}