@import './assets/scss/variable.scss';


html {
  background: linear-gradient(90deg, #DBDEE3 0%, #C6E4FF 100%);

}

:root {
  font-family: $main-font;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
}