@import './assets/scss/variable.scss';


// html {
//   // background: red;
// }

:root {
  font-family: $main-font;
  background: linear-gradient(90deg, #DBDEE3 10%, #C6E4FF 90%);
  background-size: cover;
  background: no-repeat;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-width: 99vw;
}


body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}