@import '../../assets/scss/variable.scss';

.footer-container {
    font-family: $main-font;
    position: relative;
    height: 1300px;
    background-color: white;
    flex-shrink: 0;
    height: fit-content !important;
    bottom: 0;

    .divider-border {
        width: 90%;
        margin: 0 auto;
        border-top: 1px solid #d3d3d3;
    }

    &__text {
        h4 {
            padding: 2rem;
            margin: 0;
            font-size: 32px;
            font-weight: 600;
            text-align: center;
        }
    }

    &__contact {
        display: grid;
        justify-items: stretch;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        margin: 0 auto;
        padding-top: 3rem;

        &--infos {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            flex-direction: column;

            .contain-icon-info {
                flex-direction: column;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                font-size: 1.2rem;
                font-weight: 400;
                padding-bottom: 1.5rem;

                .imageee {
                    color: gray;
                    font-size: 1rem;
                    font-weight: bold;
                }

                .infosss {
                    padding-bottom: 10px;
                }
            }
        }

        &--textlot {
            justify-content: right;
            display: flex;
            flex-direction: column;
            padding-left: 5rem;
            gap: 3rem;

            .text-under {
                font-family: $main-font;
                word-wrap: break-word;
                font-size: 1rem;
                font-weight: 300;
                line-height: 29px;
            }
        }
    }

    &__register-title {
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            font-weight: 400;
            font-size: 1.2rem;
        }
    }

}